<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
	<head>
		<title>All Courses</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		
	</head>
	
	<body>
		<div class="container col-8">
			<h2>All Courses</h2>
			<table class="table">
  				<thead class="thead-dark">
					<tr>
						<th>#</th>
						<th>Title</th>
						<th>Review</th>
					</tr>
				</thead>
					<tr th:each="tempCourse : ${courses}">
						<td th:text="${tempCourse.id}"></td>
						<td th:text="${tempCourse.title}"></td>
						
						<td>
						  	<a th:href="@{reviewForId(courseId=${tempCourse.id})}"  class="btn btn-warning btn-sm">more</a>
						</div>
						
						
						</td>
					</tr>
					
					
			</table>
			
		</div>
		
	</body>
</html>