<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title> Create New Detail</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	<body>
		<form action="#" th:action="@{/api/detail/save}" th:object="${theStudentDetail}"
																			 method="POST" >
		   
		   	
		  	 
			<input th:field="*{city}"  class="form-control col-4 mb-4 mt-4" placeholder="City">
			<input th:field="*{trainingShema}"  class="form-control col-4 mb-4" placeholder="Traning Shema">
		   	
		   
		   	<button type="submit" class="btn btn-success">Create</button>
		   
		   </form>
	</body>
</html>